apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: secrets-manager-provider
  namespace: external-secrets
spec:
  provider:
    aws:
      service: SecretsManager
      region: ${TF_AWS_REGION}
