apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
  namespace: reloader
spec:
  releaseName: reloader
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: reloader
      version: 2.1.3
      sourceRef:
        kind: HelmRepository
        name: reloader
        namespace: flux-system
  interval: 5m
