apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authentik-postgres
  namespace: authentik
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: secrets-manager-provider
    kind: ClusterSecretStore
  target:
    name: authentik-postgres
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: "${TF_AUTHENTIK_DB_SECRET_ARN}"
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authentik-secret-key
  namespace: authentik
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: secrets-manager-provider
    kind: ClusterSecretStore
  target:
    name: authentik-secret-key
    creationPolicy: Owner
  data:
    - secretKey: AUTHENTIK_SECRET_KEY
      remoteRef:
        key: "${TF_AUTHENTIK_SECRET_MANAGER_ARN}"
        property: secretKey
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authentik-bootstrap-admin
  namespace: authentik
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: secrets-manager-provider
    kind: ClusterSecretStore
  target:
    name: authentik-bootstrap-admin
    creationPolicy: Owner
  data:
    - secretKey: AUTHENTIK_BOOTSTRAP_EMAIL
      remoteRef:
        key: "${TF_AUTHENTIK_SECRET_MANAGER_ARN}"
        property: adminEmail
    - secretKey: AUTHENTIK_BOOTSTRAP_PASSWORD
      remoteRef:
        key: "${TF_AUTHENTIK_SECRET_MANAGER_ARN}"
        property: adminPassword
    - secretKey: AUTHENTIK_BOOTSTRAP_TOKEN
      remoteRef:
        key: "${TF_AUTHENTIK_SECRET_MANAGER_ARN}"
        property: token
