apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
  namespace: authentik
spec:
  releaseName: authentik
  driftDetection:
    mode: enabled
  interval: 5m
  chart:
    spec:
      chart: authentik
      version: 2025.10.3
      sourceRef:
        kind: HelmRepository
        name: authentik
        namespace: flux-system
  valuesFrom:
    - kind: ConfigMap
      name: authentik-values-base
      valuesKey: values.yaml
    - kind: ConfigMap
      name: authentik-values-terraform
      valuesKey: values.yaml
