apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: authentik
  namespace: authentik
spec:
  parentRefs:
    - name: gateway-api
      namespace: istio-system
      kind: Gateway
      sectionName: https
  hostnames:
    - ${TF_AUTHENTIK_HOSTNAME}
  rules:
    - backendRefs:
        - name: authentik-server
          port: 80
          weight: 1
