apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: authentik
  namespace: authentik
spec:
  parentRefs:
    - name: gateway-api
      namespace: istio-system
      kind: Gateway
      sectionName: http
  hostnames:
    - ${TF_AUTHENTIK_HOSTNAME}
  rules:
    - filters:
        - type: RequestRedirect
          requestRedirect:
            scheme: https
            statusCode: 301
    - backendRefs:
        - name: authentik-server
          port: 80
          weight: 1
      matches:
        - path:
            type: PathPrefix
            value: /
