authentik:
  error_reporting:
    enabled: false
  postgresql:
    user: file://postgres-creds/username
    password: file://postgres-creds/password
    database: authentik
    port: 5432

server:
  volumes:
    - name: postgres-creds
      secret:
        secretName: authentik-postgres
  volumeMounts:
    - name: postgres-creds
      mountPath: /postgres-creds
      readOnly: true
  env:
    - name: AUTHENTIK_POSTGRESQL__SSLMODE
      value: "require"
  envFrom:
    - secretRef:
        name: authentik-secret-key

worker:
  volumes:
    - name: postgres-creds
      secret:
        secretName: authentik-postgres
  volumeMounts:
    - name: postgres-creds
      mountPath: /postgres-creds
      readOnly: true
   env:
    - name: AUTHENTIK_POSTGRESQL__SSLMODE
      value: "require"
  envFrom:
    - secretRef:
        name: authentik-secret-key

redis:
  enabled: true
