authentik:
  error_reporting:
    enabled: false
  postgresql:
    user: file:///postgres-creds/username
    password: file:///postgres-creds/password
    database: authentik
    port: 5432

global:
  envFrom:
    - secretRef:
        name: authentik-secret-key
    - secretRef:
        name: authentik-bootstrap-admin
  env:
    - name: AUTHENTIK_POSTGRESQL__SSLMODE
      value: "require"

server:
  volumes:
    - name: postgres-creds
      secret:
        secretName: authentik-postgres
  volumeMounts:
    - name: postgres-creds
      mountPath: /postgres-creds
      readOnly: true

worker:
  volumes:
    - name: postgres-creds
      secret:
        secretName: authentik-postgres
  volumeMounts:
    - name: postgres-creds
      mountPath: /postgres-creds
      readOnly: true

redis:
  enabled: true
