apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headlamp
  namespace: headlamp
spec:
  releaseName: headlamp
  chart:
    spec:
      chart: headlamp
      version: 0.38.0
      sourceRef:
        kind: HelmRepository
        name: headlamp
        namespace: flux-system
  interval: 5m
