apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-dns
  namespace: external-dns
spec:
  releaseName: external-dns
  interval: 5m
  chart:
    spec:
      chart: external-dns
      version: 1.19.0
      sourceRef:
        kind: HelmRepository
        name: external-dns
        namespace: flux-system
  valuesFrom:
    - kind: ConfigMap
      name: external-dns-values-base
      valuesKey: values.yaml
    - kind: ConfigMap
      name: external-dns-values-terraform
      valuesKey: values.yaml
